[Unit]
Description=website Rebuild for Staging

[Service]
Type=simple
ExecStart=/bin/bash -l /home/website_staging/app/deploy/rebuild.sh

[Install]
WantedBy=multi-user.target
